/* PHASE 1: Header */

body {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  background-color: #eee;
}

.header {
  background-color: red;
  border-bottom: 1px solid #ccc;
  color: white;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  width: 900px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
