.red {
  color: red;
}

.green {
  color: green;
}

.currency-selector {
  display: inline-block;
}

.currency-option {
  float: right;
  padding-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.currency-option:hover {
  font-weight: bold;
}

.rates-list {
  padding-top: 10px;
}
